
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #cartoonForm="ngForm">
      <div class="form-group">
        <label for="svg">SVG file path to add to database</label>
        <input type="text" [(ngModel)]="cartoon.svg" 
          class="form-control" 
          id="svg" 
          name="svg" 
          placeholder="SVG goes here"
          required #svg="ngModel">
      </div>
<!--       <div [hidden]="!svg.pristine" class="alert alert-danger">SVG is required</div> -->

      <button type="submit"  
        class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>